<h1 class="center">Login</h1>
<form class="center" (ngSubmit)="login()" #loginForm="ngForm">
	<input id="email" class="center" placeholder="Email" type="text" name="email" [(ngModel)]="attempt.email" required>
	<input type="password" class="center" placeholder="Password" name="password" [(ngModel)]="attempt.password" required>
	<button [disabled]="!loginForm.form.valid" type="button" (click)="login()">Login</button>
	<ng-container *ngIf="shouldShowMessage">
		{{message}}
	</ng-container>
</form>

<app-signup></app-signup>
